/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 8, 2020, 11:05:45 AM
    Author     : michael
*/
body{
     background-color:white;
    background-size: 100%;
    
    margin: 5px;
    font-size: 14px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
}
#nav{
    display: flex;
    background-color:#99ffff;
    height: 50px;
}
@media(min-width:768px){
#container1{
    display:flex;
    height: 100vh;
    
    
    
}
#container2{
    display: flex;
     background-color:#99ffff;
     height:70px;
}
}
#container1,#container2 {
    border: 0.5px #ccc solid;
    padding:10px;
}
.leftsidebar{
    flex:0 0 20%;
    order:1;
     border: 0.5px #ccc solid;
     text-align: center;
     align-items: center;
     
}
.content{
    flex:0 0 80%;
    order:2;
     border: 0.5px #ccc solid;
        
}
.footer1{
    flex:0 0 50%;
    order:1;
     border: 0.5px #ccc solid;
}
.footer2{
    flex:0 0 50%;
    order:2;
     border: 0.5px #ccc solid;
        
}.blogpost {

}

.btitle {

}

.bimage {

}

.bcontent {

}

.about {

}

.contact {

}
.lefcon{
    text-align: center;
}
